.container-fluid{
  background-color: black;
  height: 40px;
  padding: 8px;
  display: flex;
}


h1 {
  color: white;
  font-size: 20px;
  letter-spacing: 0.5px;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
}

.add {
  text-align: end;
}

.button-icon {
  color: white;
}

