

.project-header {
  color: white;
  padding: 15px;
}

.project-form {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
  background-color: darkcyan;
}

.project-header,
.project-container p {
  margin-top: 0;
  margin-bottom: 0;
}

.project-container {
  background: #ebebeb;
  padding: 12px;
}

.save {
  background-color: lightblue;
}




.example-full-width {
  width: 100%;
}
